 <div class="row" id="footer">
    <hr />
    	<div class="four columns">
     	<%= image_tag 'web2.png' %>
     </div>
    	<div class="four columns">
    		<h4>IMEKO 2013</h4>
    		<h5><%= link_to "www.imeko2013.pl", root_path %></h5>
    		<h5>Email: mgnyba@eti.pg.gda.pl </h5>
    	</div>
    	<div class="four columns">
     	<%= image_tag 'web1.png' %>
     </div>
  </div>
  