 <div class="row">
    <div class="eight columns">
    <h3>Congratulations ! You have been successfully registered for 21TH IMEKO TC-2 Symposium! </h3>
    </div>
    <div class="four columns">
       <ul class="vertical tabs">
          
          <li <%= active_class('Participant', 'new')%>><%= link_to "Registration", root_path %></li>

           <li <%= active_class('Participant', 'guides')%>><%= link_to "Guidelines", "#" %></li>

          
        </ul>
    </div>
  </div>
  